.button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 28px;
  font-weight: 700;
  line-height: 1;
  font-family: var(--font-family); /* Usamos var para el font-family */
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}

/* Estilos para el botón primario */
.button--primary {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  background-color: var(--button-primary-bg);
  color: var(--button-primary-text-color);
  border-color: var(--button-primary-border-color);
}

/* Estilos para el botón secundario */
.button--secondary {
  background-color: var(--button-secondary-bg);
  color: var(--button-secondary-text-color);
  border-color: var(--button-secondary-border-color);
}

/* Tamaños de botón */
.button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.button--large {
  padding: 12px 24px;
  font-size: 16px;
}
